
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<div>
    <ul>
        <li><a asp-controller="Home" asp-action="">Home</a></li>

        <li><a asp-controller="Home" asp-action="about">About</a></li>

</ul>
</div>

