@model Repository_pattern.Models.FormModel
@{
    ViewData["Title"] = "Home Page";
    var student =(List<StudentModel>) ViewData["student"]; 
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<hr/>
@* Using viewBag to show the model data  *@
<div>
    <h2>Using View Bag</h2>
    @{
        if (student!=null)
        {
            <table>
                <thead>
                    <tr>
                        <td>Roll no </td>
                        <td>Name </td>
                        <td>Gender </td>
                        <td>Class </td>
                    </tr>
                </thead>

                <tbody>
                    @{
                        foreach (var item in student)
                        {
                            <tr>
                                <td>@item.rollNo</td>
                                <td>@item.name</td>
                                <td>@item.gander</td>
                                <td>@item.standard</td>
                            </tr>
                        }
                    }

                </tbody>

            </table>
        }
    }
</div>

<hr />

@* Creating Form using tag helper *@

<div class="container" style="display:flex; justify-content:center; align-items:center">

    <div class="row">
        <div class="col-lg" style="box-shadow:0px 0px 5px black ; padding:20px">
            <h1>Form Creating</h1>

            <form asp-action="Index" asp-controller="Home" method="post" class="d-grid">
                <input asp-for="Name" placeholder="Enter name" class="form-control" required />
                <span asp-validation-for="Name" style="color:red"></span>
                <br />
                <input asp-for="Age" placeholder="Enter your age" class="form-control" required />
                <span asp-validation-for="Age" style="color:red"></span>
                <br />
                <select asp-for="gander" class="form-control" asp-items="Html.GetEnumSelectList<Gendar>()" required>
                    <option value="" >Select Gander</option>
                </select>
                
                <br />

                <div>

                    <div style="display:flex; justify-content:space-evenly">
                        <label>Married</label>

                        <input type="radio" class="form-check-input" asp-for="married" value=true />
                        <label class="form-check-label" for="flexradioDefault1"> Yes</label>

                        <input type="radio" class="form-check-input" asp-for="married" value=false />
                        <label class="form-check-label" for="flexradioDefault1"> No</label>

                    </div>
                    <span asp-validation-for="married" style="color:red"></span>
                </div>

                <br />
                <input type="email" asp-for="Email" placeholder="Enter your Email" class="form-control" required />
                <span asp-validation-for="Email" style="color:red"></span>

                <br />
                <input type="password" asp-for="Password" placeholder="Enter your Password" class="form-control" required />
                <span asp-validation-for="Password" style="color:red"></span>

                <br />
                <input type="submit" value="Submit" class="btn-outline-primary" />
            </form>

        </div>
    </div>
</div>
